<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!--Get the properties from sports.properties -->
	<context:property-placeholder location="classpath:sports.properties"/>
	
    <!--Define the dependency -->
    <bean id="myFortune" class="com.vishesh.framework_spring.HappyFortuneService"></bean>
    
     <!--Inject the Constructor dependency -->
	<bean id="myCoach" class="com.vishesh.framework_spring.CricketCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	
	<!--Inject the setter method -->
	<bean id="myCricketCoach" class="com.vishesh.framework_spring.CricketCoach">
		<property name="fortuneService" ref="myFortune"></property>
		<property name="emailAddress" value="${email}"></property>
		<property name="team" value="${team}"></property>
	</bean>
	
</beans>